/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-c9 {
  background-image: url(sprite.png);
  background-position: -355px 0px;
  width: 300px;
  height: 350px;
}
.icon-middleman {
  background-image: url(sprite.png);
  background-position: -655px 0px;
  width: 300px;
  height: 350px;
}
.icon-ol {
  background-image: url(sprite.png);
  background-position: 0px -400px;
  width: 300px;
  height: 350px;
}
.icon-sporty {
  background-image: url(sprite.png);
  background-position: -300px -400px;
  width: 300px;
  height: 350px;
}
.icon-sporty2 {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 355px;
  height: 400px;
}
