/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-c9 {
  background-image: url(sprite.png);
  background-position: -306px -400px;
  width: 300px;
  height: 371px;
}
.icon-middleman {
  background-image: url(sprite.png);
  background-position: -717px 0px;
  width: 349px;
  height: 355px;
}
.icon-ol {
  background-image: url(sprite.png);
  background-position: 0px -400px;
  width: 306px;
  height: 372px;
}
.icon-sporty {
  background-image: url(sprite.png);
  background-position: -355px 0px;
  width: 362px;
  height: 375px;
}
.icon-sporty2 {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 355px;
  height: 400px;
}

.ui.cards>.card .image>.image-icon, .ui.card .image>.image-icon {
    display: block;
    width: 100%;
    height: auto;
    border-radius: inherit;
}
